@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap');

:root {
  --color-background: #fff;
  --color-charcoal: #2f4550;
  --color-green-cyan: #2d936c;
  --color-white: #ffffff;
  --color-text-black: #212322;
  --color-text-grey: #1c1c1c;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  font-family: 'Karla', sans-serif;

  &__Body {
    background: var(--color-background);
    padding: 32px;
  }
}
