@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

html {
  --color-background: #ffffff;
  --color-background-card: #ffffff;
  --color-shadow: #eaeaea;
  --color-shadow-spread: #cacaca;
  --color-primary: #4c9a60;
  --color-white: #ffffff;
  --color-text: #262a34;
  --color-black: #262a34;
  --color-light-gray: #a1a1a3;
  --color-dark-gray: #5b5b5b;
  --color-soft-gray: rgba(142, 173, 202, 0.17);
}

* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  font-family: 'Poppins', sans-serif;

  &__Body {
    background: var(--color-background);
    min-height: calc(100vh - 72px);
    padding: 8px 32px;
  }

  @media (max-width: 680px) {
    &__Body {
      min-height: calc(100vh - 60px);
      padding: 16px;
    }
  }
}
