.Footer {
  color: var(--color-white);

  &__bottom {
    padding: 24px;
    text-align: center;
  }

  &__brand-name {
    margin-bottom: 16px;
    text-transform: uppercase;
  }

  &__link {
    color: var(--color-white);
  }

  &__title {
    font-weight: 500;
    margin-bottom: 16px;
  }

  &__top {
    display: grid;
    grid-gap: 32px;
    grid-template-columns: 70% 30%;
    padding: 48px;
    padding-bottom: 24px;
  }

  &__Wrapper {
    background: var(--color-primary);
  }

  @media (max-width: 680px) {
    &__top {
      grid-template-columns: none;
    }
  }
}
