.ArticleCard {
  background: var(--color-background-card);
  border-radius: 8px;
  box-shadow: 4px 4px 5px 1px var(--color-shadow);
  overflow: hidden;
  position: relative;
  transition: 0.2s ease-in-out;

  &:hover {
    box-shadow: 0px 0px 5px 1px var(--color-shadow-spread);
  }

  &__Author {
    color: var(--color-dark-gray);
    font-size: 12px;
    font-weight: 500;
  }

  &__Body {
    padding: 16px;
    padding-bottom: 80px;
  }

  &__CTA {
    align-items: center;
    background: var(--color-white);
    border: 1px solid var(--color-text-black);
    cursor: pointer;
    display: flex;
    padding: 4px 8px;

    &-icon {
      margin-left: 4px;
    }
  }

  &__Description {
    color: var(--color-text);
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 8px;
    text-align: justify;
  }

  &__Details {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &__Footer {
    align-items: center;
    bottom: 0;
    display: flex;
    height: 64px;
    justify-content: space-between;
    left: 16px;
    position: absolute;
    right: 16px;

    &-right {
      display: flex;
      align-items: center;
      position: relative;
    }
  }

  &__Head {
    height: 220px;
    overflow: hidden;
    position: relative;
  }

  &__Title {
    color: var(--color-text);
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 8px;
    text-align: justify;
  }

  &__Image {
    height: 248px;
    object-fit: cover;
    width: 100%;
  }

  &__Icon {
    align-items: center;
    background: var(--color-soft-gray);
    border-radius: 20px;
    color: var(--color-text);
    display: flex;
    height: 40px;
    justify-content: center;
    margin-left: 8px;
    padding: 0;
    width: 40px;

    &--filled {
      color: var(--color-primary);
    }
  }

  &__Source {
    color: var(--color-primary);
    font-size: 14px;
    font-weight: 700;
  }

  &__Time {
    color: var(--color-light-gray);
    font-size: 12px;
    font-weight: 400;
  }

  &__Toast {
    position: absolute;
    background: var(--color-primary);
    color: var(--color-text);
    padding: 4px;
    font-size: 12px;
    border-radius: 4px;
    top: -100%;
    right: 0;
    opacity: 0;
    transition: 0.5s ease-out opacity;

    &--visible {
      opacity: 1;
    }
  }
}
