.Home {
  &__FinishedMessage {
    color: var(--color-primary);
    margin-bottom: 16px;
    text-align: center;
  }

  &__LoadMoreBtn {
    background: var(--color-background);
    color: var(--color-primary);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
    outline: none;
    width: 100%;
  }

  &__Tab {
    background: transparent;
    border: none;
    border-bottom: 3px solid transparent;
    color: var(--color-dark-gray);
    cursor: pointer;
    font-size: 18px;
    padding: 8px;

    &:not(:last-child) {
      margin-right: 16px;
    }

    &--active {
      border-color: var(--color-primary);
      color: var(--color-primary);
    }
  }

  &__TabWrapper {
    background: var(--color-background);
    margin-bottom: 24px;
  }
}
