.Home {
  &__Tab {
    background: var(--color-white);
    border: none;
    border-bottom: 3px solid transparent;
    color: var(--color-dark-gray);
    cursor: pointer;
    font-size: 18px;
    padding: 8px;

    &:not(:last-child) {
      margin-right: 16px;
    }

    &--active {
      border-color: var(--color-primary);
      color: var(--color-primary);
    }
  }

  &__TabWrapper {
    margin-bottom: 24px;
  }
}
