.Home {
  &__Tab {
    background: var(--color-white);
    border: 1px solid var(--color-text-black);
    border-radius: 2px;
    color: var(--color-text-black);
    cursor: pointer;
    padding: 8px;
    width: 100px;

    &:not(:last-child) {
      margin-right: 16px;
    }

    &:hover,
    &--active {
      background: var(--color-text-black);
      color: var(--color-white);
    }
  }

  &__TabWrapper {
    margin-bottom: 24px;
  }
}
