.Header {
  align-items: center;
  color: var(--color-text);
  display: flex;
  height: 72px;
  justify-content: space-between;

  a {
    color: var(--color-text-black);
    text-decoration: none;
  }

  &__Logo {
    width: 120px;
  }

  &__MobileNav {
    display: none;

    &List {
      background: var(--color-background);
      left: 0;
      list-style: none;
      padding: 32px 16px;
      position: fixed;
      top: -100vh;
      transition: 0.5s ease-in-out all;
      width: 100%;

      &--open {
        top: 0px;
      }

      &-item {
        margin-bottom: 16px;

        &--active {
          color: var(--color-primary);
        }

        &:first-of-type {
          text-align: right;
        }

        &-icon {
          &:not(:last-child) {
            margin-right: 16px;
          }
        }
      }
    }
  }

  &__NavList {
    align-items: center;
    display: flex;
    list-style-type: none;

    &-item {
      &--active {
        color: var(--color-primary);
      }

      &:not(:last-child) {
        margin-right: 32px;
      }
    }
  }

  &__Wrapper {
    background: var(--color-background-card);
    padding: 0 32px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  @media (max-width: 680px) {
    height: 60px;
    padding: 0 16px;

    &__Logo {
      width: 100px;
    }

    &__MobileNav {
      display: block;
    }

    &__NavList {
      display: none;
    }
  }
}
